*,h1,a,li,ul,p,dd,dt,dl {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
}
p,
address {
  font-family: Helvetica, Arial, sans-serif;
}
img{
    display: block;
    max-width: 100%;
}
body{
    background: #faf6ed;;
    color: #222;
}
.menu{
    grid-column: 3/5;
    margin: 2rem 0 2rem 0;
}

.menu ul{
    display: flex;
}